version: "3.9"

services:
  db:
    image: postgres:16
    container_name: crypto-db
    environment:
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app
      POSTGRES_DB: crypto_sim
    env_file: .env
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  api:
    build: .
    container_name: crypto-api
    env_file: .env
    depends_on:
      - db
    ports:
      - "8000:8000"

volumes:
  pgdata:
